body {
	display: flex;
	background-color: red;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border: 3px solid black;
	width: 100%;
	padding: 1rem 2rem
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	body {
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.container {
		max-width: 500px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 800px;
	}
}